{
    "env": {
      "test": {
        "plugins": ["@babel/plugin-transform-modules-commonjs"]
      }
    }
  }

//   https://stackoverflow.com/questions/49656706/test-es6-modules-with-jest/49656707#49656707